{% extends 'base.html' %}

{% block content %}

    <ul>
        <li>
            <a href="{% url 'create_actor' %}">create actor</a>
        </li>
        <li>
            <a href="{% url 'create_movie' %}">create movie</a>
        </li>
    </ul>
    
{% endblock content %}
    